@if(estudianteState().loading){
  <app-spinner></app-spinner>
}@else {
  <div
  @notLoading>
    <div>
      <h1 class="text-2xl mb-6 font-semibold text-hazy-sky-800 ">Ver Estudiante</h1>
    </div>
    <form [formGroup]="formVerEstudiante" class="grid gap-x-4 gap-y-2 mb-8"
    [class]="isMobile()?'grid-cols-2':'grid-cols-3'"
    >
      <div class="flex flex-col">
        <label class="mb-2 font-medium">Nombre</label>
        <input formControlName="nombre" class="bg-blue-sky focus:outline-none border rounded-lg p-2 "
        [class]="hasRequiredError('nombre')? 'border-red-600':'border-hazy-sky-600'"/>
        <span class="text-red-600 text-sm mt-1" [class]="hasRequiredError('nombre')? 'visible':'invisible'">Campo requerido.</span>
      </div>  
      <div class="flex flex-col">
        <label class="mb-2 font-medium">RUT</label>
        <input formControlName="rut" class="bg-blue-sky focus:outline-none border rounded-lg p-2"
        [class]="hasRequiredError('rut')? 'border-red-600':'border-hazy-sky-600'"/>
        <span class="text-red-600 text-sm mt-1" [class]="hasRequiredError('rut')? 'visible':'invisible'">Campo requerido.</span>
      </div>
      <div class="flex flex-col">
        <label class="mb-2 font-medium">Dirección</label>
        <input formControlName="direccion" class="bg-blue-sky focus:outline-none border rounded-lg p-2"
        [class]="hasRequiredError('direccion')? 'border-red-600':'border-hazy-sky-600'"/>
        <span class="text-red-600 text-sm mt-1" [class]="hasRequiredError('direccion')? 'visible':'invisible'">Campo requerido.</span>
      </div>
      <div class="flex flex-col">
        <label class="mb-2 font-medium">Teléfono</label>
        <input formControlName="fono" class="bg-blue-sky focus:outline-none border rounded-lg p-2"
        [class]="hasRequiredError('fono')? 'border-red-600':'border-hazy-sky-600'"/>
        <span class="text-red-600 text-sm mt-1" [class]="hasRequiredError('fono')? 'visible':'invisible'">Campo requerido.</span>
      </div>
      <div class="flex flex-col">
        <label class="mb-2 font-medium">Correo</label>
        <input formControlName="correo" class="bg-blue-sky focus:outline-none border rounded-lg p-2"
        [class]="hasRequiredError('correo')? 'border-red-600':'border-hazy-sky-600'"/>
        <span class="text-red-600 text-sm mt-1" [class]="hasRequiredError('correo')? 'visible':'invisible'">Campo requerido.</span>
      </div>
      <div class="flex flex-col">
        <label class="mb-2 font-medium">Año de Ingreso</label>
        <input formControlName="ingreso" class="bg-blue-sky focus:outline-none border rounded-lg p-2"
        [class]="hasRequiredError('ingreso')? 'border-red-600':'border-hazy-sky-600'"/>
        <span class="text-red-600 text-sm mt-1" [class]="hasRequiredError('ingreso')? 'visible':'invisible'">Campo requerido.</span>
      </div>
        <div class="flex flex-col">
        <label class="mb-2 font-medium">Estado</label>
        <input formControlName="estado" class="bg-blue-sky focus:outline-none border rounded-lg p-2"
        [class]="hasRequiredError('estado')? 'border-red-600':'border-hazy-sky-600'"/>
        <span class="text-red-600 text-sm mt-1" [class]="hasRequiredError('estado')? 'visible':'invisible'">Campo requerido.</span>
      </div>
    </form>
    <div class="flex justify-end gap-5 font-medium">
      <button (click)="cancelar()" class="bg-hazy-sky-200 p-2 px-3 rounded-md text-hazy-sky-950 hover:bg-great-blue-100 transition">Volver a la gestión</button>
    </div>
  </div>
}
