<div  class="mb-5 text-hazy-sky-900">
  <h1 class="text-2xl mb-6 font-semibold text-hazy-sky-800 ">Seleccionar estudiante</h1>
</div>
<div class=" w-full flex gap-10"
[class]="isMobile() ? 'flex-col':' flex-row'">
  <div class="bg-hazy-sky-900 w-full flex h-96 text-hazy-sky-50 p-6 rounded-lg">
    <div class="flex justify-center flex-col items-center h-full w-full gap-4">
      <h2 class="text-3xl font-bold p-4 text-center">Usar codigo QR</h2>
      <button (click)="useQrCode()" class="text-3xl bg-hazy-sky-200 hover:bg-hazy-sky-100 transition text-hazy-sky-900 rounded-lg font-bold p-4">Seleccionar</button>
    </div>
  </div>
</div>
