@if(loading()){
  <app-spinner></app-spinner>
}
@else{
  <div
  @notLoading
  >
    <div  class="mb-5 text-hazy-sky-900">
      <h1 class="text-2xl mb-4 font-semibold text-hazy-sky-800 ">Historial</h1>
    </div>
    <div class="flex flex-row mb-4 w-full justify-between">
      <div class="relative mt-1 flex gap-5">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none" >
          <svg class="w-4 h-4 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>
          <input 
          class="bg-blue-sky text-hazy-sky-800 focus:outline-none border-2 border-hazy-sky-200 text-sm rounded-lg p-2 ps-10 focus:border-hazy-sky-700"
          [ngClass]="{'w-80': !isMobile(), 'w-40': isMobile()}"
          placeholder="Buscar por ID DICI o ID UTA" 
          #searchQuery
           (input)="onSearchUpdated(searchQuery.value)"
          >
            <mat-form-field appearance="outline"  [subscriptSizing]="'dynamic'" class="!bg-blue-sky !rounded-lg ">
              <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
      </div>
      <button  class="bg-hazy-sky-200 p-3 px-5 rounded-md text-hazy-sky-950 font-medium hover:bg-great-blue-100 transition">Crear Recurso</button>
    </div>
    <div class="relative overflow-x-auto shadow-md rounded-md">
      <table class="w-full text-sm text-left">
          <thead class="text-sm uppercase">
            <tr class="bg-hazy-sky-900 text-hazy-sky-50">
              <th class="p-4">
                <div class="flex items-center">
                  <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-hazy-sky-400 rounded focus:ring-hazy-sky-500 focus:ring-2">
                  <label for="checkbox-all-search" class="sr-only">checkbox</label>
                </div>
              </th>
              <th class="px-6 py-3">
                  Id DICI
              </th>
              <th class="px-6 py-3">
                  ID Usuario
              </th>
              <th class="px-6 py-3">
                  Rut
              </th>
              <th class="px-6 py-3">
                  Fecha de Inicio
              </th>
              <th class="px-6 py-3">
                  Fecha Fin
              </th>
            </tr>
          </thead>
          <tbody>
            @for(prestamosRegular of prestamosRegular(); track prestamosRegular.id_dici){
              <tr class=" border-t  border-hazy-sky-700 text-black">
                <td class="w-4 p-4">
                  <div class="flex items-center">
                    <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="checkbox-all-search" class="sr-only">checkbox</label>
                  </div>
                </td>
                <td class="px-6 py-4 font-medium ">
                  {{prestamosRegular.id_dici}}
                </td>
                <td class="px-6 py-4 ">
                  {{prestamosRegular.id_usuario}}
                </td>
                <td class="px-6 py-4">
                  {{prestamosRegular.rut}}
                </td>
                <td class="px-6 py-4">
                  {{prestamosRegular.hora_inicio | date: 'dd/MM/YYY HH:mm:ss'}}
                </td>
                <td class="px-6 py-4">
                  {{prestamosRegular.hora_fin| date: 'dd/MM/YYY HH:mm:ss'}}
                </td>
              </tr>
            }
          </tbody>
      </table>
    </div>
  </div>
}