@if(loading()){
  <app-spinner></app-spinner>
}
@else {
  <div 
  @notLoading
  >
    <div>
      <h1 class="text-2xl mb-4 font-semibold text-hazy-sky-800 ">Gestión de categorias</h1>
    </div>
    <div class="flex flex-row mb-4 w-full justify-between">
      <div class="relative mt-1 flex gap-5">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none" >
          <svg class="w-4 h-4 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>
          <input 
          class="bg-blue-sky text-hazy-sky-800 focus:outline-none border-2 border-hazy-sky-200 text-sm rounded-lg p-2 ps-10 focus:border-hazy-sky-700"
          [ngClass]="{'w-80': !isMobile(), 'w-40': isMobile()}"
          placeholder="Buscar por Nombre" 
          #searchQuery
           (input)="onSearchUpdated(searchQuery.value)"
          >
  
      </div>
      <button (click)="crearCategoria()" class="bg-hazy-sky-200 p-2 px-5 rounded-md text-hazy-sky-950 font-medium hover:bg-great-blue-100 transition">Crear Categoria</button>
    </div>
    <div class="relative overflow-x-auto shadow-md rounded-md">
      <table class="w-full text-sm text-left">
          <thead class="text-sm uppercase">
            <tr class="bg-hazy-sky-900 text-hazy-sky-50">
              <th class="px-6 py-3">
                  Id
              </th>
              <th class="px-6 py-3">
                  Nombre
              </th>
              <th class="px-6 py-3">
                  Fecha de creacion
              </th>
              <th class="px-6 py-3">
                  Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            @for(categoria of categorias(); track categoria.id_categoria){
              <tr class=" border-t  border-hazy-sky-700 text-black odd:bg-hazy-sky-50 even:bg-hazy-sky-100">
                <td class="px-6 py-4 font-medium w-0">{{categoria.id_categoria}}</td>
                <td class="px-6 py-4 ">
                  {{categoria.nombre_categoria}}
                </td>
                <td class="px-6 py-4">
                  {{categoria.fecha_creacion | date: 'dd/MM/yyyy HH:mm:ss' :"+0000"}}
                </td>
                <td class="px-6 w-1/5 whitespace-nowrap">
                  <button (click)="editarCategoria(categoria.id_categoria)" class="p-1 mr-2 hover:bg-yellow-100 rounded-xl transition">
                    <svg class="w-6 h-6 text-yellow-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                    </svg>                
                  </button>
                  <button (click)="dialogEliminarCategoria(categoria.id_categoria)" class="p-1 mr-2 hover:bg-red-100 rounded-xl transition">
                    <svg class="w-6 h-6 text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                    </svg>                             
                  </button>
                </td>
              </tr>
            }
          </tbody>
      </table>
    </div>
  </div>
}
