@if(loading()){
  <app-spinner></app-spinner>
}@else {
  <div 
@notLoading
>
  <div>
    <h1 class="text-2xl mb-4 font-semibold text-hazy-sky-800 ">Gestión de Penalizaciones</h1>
  </div>
  <div class="flex flex-row mb-4 w-full justify-between">
    <div class="relative mt-1 flex gap-5">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none" >
        <svg class="w-4 h-4 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
      </div>
        <input 
        class="bg-blue-sky text-hazy-sky-800 focus:outline-none border-2 border-hazy-sky-200 text-sm rounded-lg p-2 ps-10 focus:border-hazy-sky-700"
        [ngClass]="{'w-80': !isMobile(), 'w-40': isMobile()}"
        placeholder="Buscar" 
        #searchQuery
         (input)="onSearchUpdated(searchQuery.value)"
        >
    </div>
    <button (click)="crearPenalizacion()" 
    class="bg-hazy-sky-200 p-2 px-5 rounded-md text-hazy-sky-950 font-medium hover:bg-great-blue-100 transition">
      Crear Penalizacion
    </button>
  </div>
  <div class="relative overflow-x-auto shadow-md rounded-md">
    <table class="w-full text-sm text-left">
        <thead class="text-sm uppercase">
          <tr class="bg-hazy-sky-900 text-hazy-sky-50">
            <th class="px-6 py-3">
              RUT Estudiante
            </th>
            <th class="px-6 py-3">
              Grado
            </th>
            <th class="px-6 py-3">
              ID Usurio
            </th>
            <th class="px-6 py-3">
              Estado
            </th>
            <th class="px-6 py-3">
              Fecha Inicio
            </th>
            <th class="px-6 py-3">
              Fecha Fin
            </th>
          </tr>
        </thead>
        <tbody>
          @for(penalizacion of penalizaciones(); track penalizacion.id_sanciones){
            <tr class=" border-t  border-hazy-sky-700 text-black">
              <td class="px-6 py-4">
                {{penalizacion.rut_estudiante}}
              </td>
              <td class="px-6 py-4 ">
                {{penalizacion.grado}}
              </td>
              <td class="px-6 py-4 font-medium ">
                {{penalizacion.id_usuario}}
              </td>
              <td class="px-6 py-4">
                @if (penalizacion.estado_sancion){
                  <span class="bg-green-100 text-green-800 p-2 rounded-md">Activo</span>
                }@else{
                  <span class="bg-red-100 text-red-800 p-2 rounded-md">Inactivo</span>
                }
              </td>
              <td class="px-6 py-4">
                {{penalizacion.fecha_inicio | date: 'dd/MM/yyyy' }}
              </td>
              <td class="px-6 py-4">
                {{penalizacion.fecha_final | date: 'dd/MM/yyyy'}}
              </td>
            </tr>
          }@empty {
            <tr class="border-t border-hazy-sky-700">
              <td class="px-6 py-4 text-center font-medium text-lg text-hazy-sky-900" colspan="6">
                No hay datos disponibles
              </td>
            </tr>
          }
        </tbody>
    </table>
  </div>
</div>
}